*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

html{
    position: relative;
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #FDC2CB;
    position: relative;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #FDC2CB;
}

.top{
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FDC2CB;
}

.top p {
    color: rgb(54, 54, 54);
    padding: 1px 15px;
    border-radius: 5px;
}

.top>img:nth-child(1){
    max-width: 70%;
    height: 85%;
    mix-blend-mode:multiply;
}
.top a img{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50px;
    color: #3a3a3a;
    mix-blend-mode:multiply;
    font-variant: small-caps;
    font-weight: 400;
    line-height: 1;
}


.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
    margin-top: 10px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #FDC2CB;
}

.links a{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: start;
    padding:20px 30px ;
    background-color: rgb(219, 219, 219);
    text-decoration: none;
    color: #3d3d3d;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 1px solid #dadada;
    height: 35px;
}

.links a:hover{
    background-color: rgb(199, 199, 199);
}

.links img{
    width: 50px;
    padding-right: 20px;
}

.footer{
    width: 100%;
    height: fit-content;
    bottom: 0%;
    left: 0%;
    background-color: #FDC2CB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.footer a img{
    width: 50px;
    margin-bottom: 20px;
}
   

.footer div a{
    color: #3a3a3a;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer div a:hover{
    color: rgb(28, 28, 146);
}

.container{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column ;
    gap: 10px;
    overflow-y: scroll;
    background-color: #FDC2CB;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.row a{
    width: 26vw;
}

.row a img {
    width: 20vw;
    background-color: rgb(206, 206, 206);
}

.row a img:hover{
    background-color: rgb(172, 172, 172);
    scale: 1.12;
}

.br{
    height: 100px;
    background-color: #FDC2CB;
}

i{
    font-size:  1.5rem;
    padding: 10px;
}

.addressandmore{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    background-color: #FDC2CB;
}

.addressandmore p{
    color: #3a3a3a;
    font-weight: 400;
    text-align: center;
}

.addressandmore p:nth-child(1){
    padding: 0px 30px;
}

.whatsappchannel{
    border-radius: 50%;
}

.whatsappchannela{
    text-wrap: nowrap;
}